<div id="templatemo_footer">
    <p><a href="{% url 'index' %}">Home</a> | <a href="{% url 'mainapp:index' %}">Products</a> | <a href="{% url 'about' %}">About</a> | <a href="{% url 'faqs' %}">FAQs</a> | <a href="{% url 'checkout' %}">Checkout</a> | <a href="{% url 'contact' %}">Contact Us</a>
		</p>
<p style="text-align: justify;">Обращаем Ваше внимание на то, что данный Интернет-сайт носит исключительно информационный характер
    и ни при каких условиях не является публичной офертой, определяемой положениями
    Статьи 437(2) Гражданского кодекса Российской Федерации. Информация, представленная на сайте,
    ни при каких условиях не должна рассматриваться как предложение, сделанное Продавцом какому-либо лицу.
    Продавец оставляет за собой право в любое время изменить данную информацию без предварительного уведомления.</p>
    Copyright &copy; {%  now "Y" %} <a href="{% url 'index' %}">ILIS SHOP</a>
</div>