{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>
    {% block title %}
    {{'ilis'|upper}} {{'shop'|title}} {{name_page}}
    {% endblock title %}
</title>
<meta name="keywords" content="" />
<meta name="description" content="" />

{% block css %}
<link href="{% static 'templatemo_style.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{% static 'nivo-slider.css' %}" type="text/css" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'css/ddsmoothmenu.css' %}" />
{% endblock css %}

{% block js %}
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ddsmoothmenu.js' %}"></script>
<script type="text/javascript">
ddsmoothmenu.init({
	mainmenuid: "top_nav", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})
</script>
{% endblock js %}

</head>
